html{
  background-color: gold;
}

main{
  text-align: center;
  align-content: center;
  align-items: center;
}

body{
  background-color: gold;
  text-align: center;
  padding: 25px;
}

h1{
  text-shadow: 5px;
  font-size: 50px;
  font-family: fantasy;
}

img {
  height: 150px;
  width: 150px;
}
